body{
  background:linear-gradient(135deg,#ffb6c1,#ff69b4);
  text-align:center;
  font-family:'Comic Sans MS',cursive;
}

#gallery{
  display:grid;
  grid-template-columns:repeat(auto-fill,200px);
  gap:15px;
  justify-content:center;
}

img{
  width:200px;
  height:200px;
  border-radius:20px;
  object-fit:cover;
  transition:.3s;
}
img:hover{transform:scale(1.1)}
