body {
  height: 100vh;
  background: linear-gradient(135deg,#ffb6c1,#ff69b4);
  display:flex;
  justify-content:center;
  align-items:center;
  font-family:'Comic Sans MS',cursive;
}

.login-container{
  background:white;
  padding:40px;
  border-radius:25px;
  width:350px;
  text-align:center;
  box-shadow:0 20px 40px rgba(0,0,0,.3);
}

input{
  width:100%;
  padding:12px;
  margin:10px 0;
  border-radius:10px;
  border:1px solid pink;
}

button{
  width:100%;
  padding:12px;
  border:none;
  border-radius:30px;
  background:#ff1493;
  color:white;
  font-size:16px;
}

.emoji{
  position:absolute;
  top:10%;
  font-size:40px;
  animation:float 4s infinite;
}

@keyframes float{
  50%{transform:translateY(-30px)}
}
